pre {
  display: block;
  width: 80%;
  margin-left: 10%;
  background-color: transparent;
  background: rgba(200, 200, 200, 0.04);
  padding: 0.5em;
  white-space: pre-wrap;
  overflow-wrap: anywhere;
}
